/* User Profile Styling */

body{
    margin-top: 20px;
    background: #eee;
}

.profile-header {
    position: relative;
    overflow: hidden;
}

.profile-header .profile-header-cover {
    background-image: url(https://i.pinimg.com/originals/77/f5/7f/77f57fc5d06dc6642b0d96ef200cb550.gif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}